form{
    display:flex;
    justify-content:center;
    align-items: center;
    height:80vh;
}
.sign-up{
    border:inset 1px;
    width:300px;
    height:350px;
    text-align:center;
    background-color:#f8f2f2;
    box-shadow:2px 2px 10px #f00;
    
}
.header h1{
    position: absolute;
    top:0;
    margin-left: 120px;
}
input{
    padding:10px 25px ;
    border-radius:10px ;
    border-color: #f00;
}
.btn-cover{
    width: 100vw;
    display: flex;
    justify-content: center;
}
button:not(.submit){
    padding: 20px 40px;
    background-color: #f00;
    border: none;
    border-radius: 15px;
    margin-top: 40px;
}
a{
    text-decoration: none;
    color:#fff;
}
@media all and (max-width:767px){
    body{
        transform: scale(0.7);
    }
}
